* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.box {
  display: inline-block;
  padding: 3px 5px 7px 11px;
  margin: 11px 7px 5px 3px;
  border: 2px solid brown;
  vertical-align: middle;
}

#box1 {
  /* height: 100vh; */
  height: 300px;
  width: 50%;
  visibility: hidden;
}

#box2 {
  width: 46%;
  height: 300px;
}

div:last-of-type:hover {
  background: black;
  color: white;
}
